
/* -------------------------- Site Wide --------------------------*/
* {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

/* -------------------------- Header --------------------------*/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: center;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    width: 100%;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 2rem;
    color: #131A22;
}

/* -------------------------- Hamburger --------------------------*/
.hamburger {
    background: none;
    border: none;
    color: #131A22;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/* -------------------------- Navigation --------------------------*/
.navigation {
    display: none;
    width: 100%;
}

.navigation.show, button {
    display: block;
    margin: 0 auto;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #131A22;
    text-decoration: none;
    border: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #131A22;
    color: white;
}

/* -------------------------- Main --------------------------*/
h1 {
    color: #131A22;
}

main {
    display: block;
    grid-template-columns: 1fr;
    flex: 1;
    align-self: stretch;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
}

.section-header {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.section-header h2, .course-section h2 {
    background-color: #131A22;
    color: #ddd;
    text-align: center;
    padding: 10px 0;
    border-radius: 8px;
    font-size: 2rem;
}

p {
    padding: 10px;
    border-radius: 20px;
}

.section-header img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 20px;
}

.course-section {
    grid-column: 1 / 3;
    text-align: center;
    align-self: start;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.filters button {
    width: 30%;
    cursor: pointer;
}

.courses {
    display: block;
    justify-content: space-evenly;
}

.courses figure {
    background-color: #eee;
    color: #131A22;
    padding: 10px;
    justify-content: space-around;
    margin: 10px 0;
    border-radius: 10px;
}

.courses .completed {
    background-color: #2E7D32;
    color: #FFFFFF;
}

#credit-total {
    display: block;
    margin: 10px 0;
}

/* -------------------------- Footer --------------------------*/
footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
    width: 100%;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}